.multiselect {
    width: 100%;

    &__select::before {
        border-color: $danger-hover !important;
    }

    &:hover {
        .multiselect__select::before {
            border-color: #363636 !important;
        }
    }
}
