/node_modules
/public/hot
/public/storage
/public/build
/public/hot
/storage/*.key
/vendor
/storage
.env
.env.backup
.env.testing
.env.pipelines
.env.local
.env.*.local
.phpunit.result.cache
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
